#wrap {
  background-color: #efefef;

  .text_cont {
    padding: 50px 0;
    background-color: #efefef;
    .tit {
      padding: 0 50px;
      box-sizing: border-box;
      height: 50px;
      width: 100%;
      line-height: 50px;
      background-color: #34373d;
      color: #fff;

      li:first-child {
        width: 500px;
        text-align: left;
      }

      li {
        width: 150px;
      }
    }

    .goodslist {
      padding: 0 50px;
      box-sizing: border-box;
      width: 100%;
      background-color: #fff;

      .proBox{
        border-bottom: 1px solid rgba(152, 149, 148,0.4);
      }
      .proBox:last-child{
        border-bottom: none;
      }
      li {
        ul {
          line-height: 130px;
          height: 130px;

          li:first-child {
            width: 500px;
            text-align: left;
          }

          li {
            text-align: center;
            height: 100%;
            float: left;
            width: 150px;
            .uncheck {
              width: 19px;
              height: 19px;
              position: relative;
              top:50%;
              transform: translateY(-50%);
              border-radius: 2px;
              vertical-align: middle;
              border: 1px solid rgb(152, 149, 148);
              margin-right: 20px;
            }
            .check{
              background: url(../img/product/check.png);
              border: 1px solid #fff;
            }
            .dele{
              width: 50px;
              &:hover{
                color: red;
              }
            }
            p {
              width: 85px;
              border: 1px solid #000;
              height: 25px;
              position: relative;
              top: 50%;
              line-height: 25px;
              transform: translateY(-50%);

              input {
                vertical-align: top;
                text-align: center;
                width: 30px;
                height: 25px;
                line-height: 25px;
              }

              span {
                vertical-align: top;
                cursor: pointer;
                font-size: 14px;
                line-height: 25px;
                height: 25px;
                padding: 0 9px;
              }
            }

            a {
              font-size: 14px;
              color: #000;
            }
          }
        }
        .bao{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          // height: 100px;
          line-height: 30px;
        }
      }
    }

    .pay {
      margin-top: 5px;
      background-color: #fff;
      height: 150px;
      width: 100%;
      text-align: right;
      box-sizing: border-box;
      padding:0 50px;
      .checkPro{
        text-align: left;
        .uncheck {
          width: 19px;
          height: 19px;
          border-radius: 2px;
          vertical-align: middle;
          border: 1px solid rgb(152, 149, 148);
          margin-right: 20px;
        }
        .check{
          background: url(../img/product/check.png);
          border: 1px solid #fff;
        }
        p{
          padding: 5px 0;
        }
        a{
          color: #000000;
          display: inline-block;
          padding: 5px 0;
          &:hover{
            color: red;
          }
        }
        .checkNum,.allNum{
          color: #2473e9;
        }
      }
      div{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      h1 {

        color: rgb(219, 93, 56);
      }
      p{
        font-size: 14px;
        color: #888;
      }
      .toBuy{
        position: relative;
        top: 1px;
      }
      button , .toBuy{
        text-align: center;
        margin-top: 10px;
        width: 100px;
        background-color:rgb(199, 61, 42);
        color: #fff;
        cursor: pointer;
        border:none;
        height: 35px;
        line-height: 35px;
      }
    }
  }
}
